<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Sentiment</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
    <script src="content/app.js"></script>
    <script src="content/controllers/controllers.js"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="content/js/charts.min.js"></script>
    <script src="content/js/chardin.min.js"></script>
    <script src="content/js/scripts.min.js"></script>
    <link rel="stylesheet" href="content/css/chardin.min.css"/>
</head>

<body ng-controller="main-ctrl">

<main>
    <div class="twitter-bird twitter-flying"></div>
    <div class="container center-align valign">
        <div class="valign center">
            <div class="col s12 m12 l12">
                <div class="input-field">
                    <form ng-submit="getResponse()">
                        <h1>{{title}}</h1>
                       
                        <i class="material-icons prefix">#</i>

                        <input data-intro="Enter in the any twitter hashtag here" data-position="right" type="text"
                               id="tag-input" placeholder="Enter in a hashtag here" ng-model="searchInput"/>
                    </form>

                    <canvas data-intro="See the twitter data visualization here" data-position="left"
                            id="tweet-chart"></canvas>
                </div>
            </div>
        </div>
        <div ng-repeat="data in tweets track by $index">
                <p>{{data}}</p>
            </div>
        </div>

    </div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="container">
            
            </div>
        </div>
       
    </div>
</footer>
</body>
</html>
